/* ******************1er HEADER****************************** */

@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Inter:wght@200;400&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body,
html {
  min-height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/***********************2eme HEADER**********************/

header {
  background-color: #1e1e1e;
  background: -webkit-linear-gradient(to right, #1a1b1b, #232526);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 1px 1px 10px;
  width: 100%;
  height: 100px;
  padding-right: 20px;
}

header h1 {
  margin-top: 0;
  padding-left: 35px;
  color: white;
}

#title {
  display: inline;
  font-size: 3.2em;
}
span {
  color: #ff0000;
}

header #mobilMenu {
  display: none;
}

header #navhead {
  display: flex;
  align-items: baseline;
  justify-content: end;
  gap: 30px;
  flex-direction: row-reverse;
  text-transform: uppercase;
  font-size: 1.1em;
}

header #navhead a,
li {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: baseline;
}

header #navhead li {
  list-style: none;
}

header#navhead > a {
  padding: 20px;
  border: 1px solid transparent;
  font-size: 1.8em;
  font-weight: 900;
}

header #navhead > a i {
  font-size: 1.5em;
}

header i {
  margin-right: 10px;
}

header i + a {
  font-family: "Inter", sans-serif;
}

header #navhead > a:hover i {
  color: #e50915;
}

#menucat {
  list-style: none;
  padding-left: 0;
  padding-right: 20px;
  position: relative;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 1.1em;
}

#menucat > li {
  padding: 23px 0px;
  width: 80%;
  white-space: nowrap;
  text-transform: uppercase;
}

header #navhead > a:hover,
#menucat:hover > li {
  color: #e50915;
}

header #menucat:hover > #listcat {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(238, 236, 236);
  padding: 20px 40px;
  width: 80%;
  border: 1px solid transparent;
  border-top: 3px solid #e50915;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  text-align: center;
}

#listcat {
  display: none;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  text-transform: capitalize;
}

#listcat li {
  padding: 12% 4%;
}

#listcat li a {
  width: 40px;
  padding: 12% 4%;
  color: #1e1e1e;
}

#listcat li a:hover {
  color: #e50915;
  transition: 0.2s ease-out;
}

#account {
  display: flex;
  align-items: center;
}

/* ****************FOOTER************************ */

footer {
  height: 20vh;
  background: #232526;
  background: -webkit-linear-gradient(to right, #1a1b1b, #232526);
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
}

li {
  list-style-type: none;
}
.bloc_footer_nav,
.bloc_footer_media {
  text-align: center;
  margin-top: 12vh;
}

.bloc_footer_nav a {
  font-weight: bold;
  color: #e50915;
  text-decoration: none;
  background: linear-gradient(to top, #e50915 10%, transparent 10.01%) no-repeat
    left bottom/ 0 100%;
}

.bloc_footer_nav a:hover {
  transition: 0.5s ease-out;
  color: rgb(255, 255, 255);
  background-size: 100% 100%;
}

.list-nav {
  list-style: none;
  margin-left: -5%;
  gap: 7vh;
}

.list-nav a {
  font-size: 3vh;
  color: #e50915;
  text-decoration: none;
  margin-top: -11%;
}

.list-icons {
  list-style: none;
  gap: 5vh;
  margin-left: -15%;
  margin-top: -5%;
}

.list-icons i {
  color: white;
  font-size: 6vh;
}

.list-icons i:hover {
  transition: 0.5s ease-out;
  color: #e50915;
}
